
.title_welcome{
    font-weight: 200;
    font-size:20px;
    text-align: left;
    
}

.title_dev{
    font-weight: 700;
    font-size: 58px;
    text-align: left;
}

.subtitle_welcome{
    
    font-size: 18px;
    text-align: left;
    margin-top: 4rem;
}