@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");


body {
  background-color: black;
  color: white;
  font-family: "Fira Code", monospace;

}


.section{
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center; /* new */
  align-items: center; /* new */
}

*::-webkit-scrollbar {
  display: none;
}

*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: hidden;
}

.navbar {
  font-weight: 300;
  font-size: 25px;
}

.navbar-brand {
  font-weight: 500;
  font-size: 30px;
}
